In [6]:
import pandas as pd
import numpy as np
import warnings
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [8]:
# 경고 무시
warnings.filterwarnings('ignore')

In [10]:
#데이터 로딩
df = pd.read_csv("C:\\Users\\LG\\Downloads\\kc_house_data.csv")
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [12]:
df = df.drop(columns=['id', 'date', 'zipcode'])
#df['Sex'] = LabelEncoder().fit_transform(df['Sex'])  # 'M', 'F', 'I' → 정수 라벨

In [14]:
df.isnull().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [16]:
# 입력 데이터(X)와 타겟(y) 설정
X = df.drop(columns=['price'])  # 독립 변수
y = df['price']  # 종속 변수

In [18]:
# 훈련 데이터 & 테스트 데이터 분리 (80:20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
# LR모델 학습
model = LinearRegression()
model.fit(X_train, y_train)

# 예측 수행
y_pred = model.predict(X_test)

# 모델 평가
print("=== Linear Regression ===")
print("MAE (Mean Absolute Error):", mean_absolute_error(y_test, y_pred))
print("MSE (Mean Squared Error):", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))  #R² (결정 계수): 모델이 데이터를 얼마나 잘 설명하는지에 대한 지표

=== Linear Regression ===
MAE (Mean Absolute Error): 128157.32046184511
MSE (Mean Squared Error): 45998562877.063065
R² Score: 0.6957298370207359

In [26]:
from sklearn.ensemble import RandomForestRegressor

# RF모델 학습
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# 예측 수행
y_pred = model.predict(X_test)

# 모델 평가
print("=== Random Forest Regressor ===")
print("MAE (Mean Absolute Error):", mean_absolute_error(y_test, y_pred))
print("MSE (Mean Squared Error):", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))  #R² (결정 계수): 모델이 데이터를 얼마나 잘 설명하는지에 대한 지표

=== Random Forest Regressor ===
MAE (Mean Absolute Error): 73292.66380618342
MSE (Mean Squared Error): 22301093567.562904
R² Score: 0.8524832744763475

In [28]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.svm import SVR

#SVM모델 학습(스케일링 포함)

# 데이터 스케일링 (SVM 모델을 위한 표준화)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# 모델 학습
model = SVR(kernel='rbf')
model.fit(X_train_scaled, y_train)

# 예측 수행
y_pred = model.predict(X_test_scaled)

# 모델 평가
print("=== SVM Regressor ===")
print("MAE (Mean Absolute Error):", mean_absolute_error(y_test, y_pred))
print("MSE (Mean Squared Error):", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))  #R² (결정 계수): 모델이 데이터를 얼마나 잘 설명하는지에 대한 지표

=== SVM Regressor ===
MAE (Mean Absolute Error): 229187.35401302655
MSE (Mean Squared Error): 160681989601.23547
R² Score: -0.06287527491819622

In [29]:
from sklearn.tree import DecisionTreeRegressor

# DT모델 학습
model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)

# 예측 수행
y_pred = model.predict(X_test)

print("=== Decision Tree Regressor ===")
print("MAE (Mean Absolute Error):", mean_absolute_error(y_test, y_pred))
print("MSE (Mean Squared Error):", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))  #R² (결정 계수): 모델이 데이터를 얼마나 잘 설명하는지에 대한 지표

=== Decision Tree Regressor ===
MAE (Mean Absolute Error): 102229.91383298635
MSE (Mean Squared Error): 41660430067.07304
R² Score: 0.7244256112919698